/* App.css */
html,
body,
#root {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Google Sans Code', monospace;
    background-color: #1e1e1e;
    color: #e0e0e0;
    /* cor levemente mais suave */
    line-height: 1.7;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

}


/* HEADER */
#header {
    background-color: #2f2f2f;
    /* tom mais moderno e neutro */
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

#profile-pic {
    margin: 1rem;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 2px solid #02a051;
    /* toque moderno */
    transition: transform 0.3s ease;
}

#profile-pic:hover {
    transform: scale(1.05);
}

#header-titles {
    text-align: center;
    margin-top: 15px;
}

#header-title {
    font-size: 1.4em;
    margin: 0;
    letter-spacing: 0.05em;
    font-weight: 500;
}

#header-subtitle2 {
    font-size: 0.75em;
    margin: 5px 0 0 0;
    color: #b0b0b0;
    /* subtom mais suave */
}

/* CONTENT */
#content {
    flex-grow: 1;
    background-color: #252525;
    /* leve contraste com header */
    padding: 20px;
    margin: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}

/* NAV BAR */
#nav-bar {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-button {
    background-color: #3b3b3b;
    /* mais moderno */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-button:hover {
    background-color: #39D98A;
    color: #1e1e1e;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}